{% extends "base.html" %}

{% block content %}
    <style>
        .displayed {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .text-center {
            margin-right: auto;
            margin-left: auto;
        }

        .input-form {
            width: 700px;
        }
    </style>
    <div class="container d-flex flex-column align-items-center">
        <h1 class="text-center" style="font-size: 80px">Покупка</h1>
        <form action="/buying" class="input-form" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label(style="font-size: 30px") }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.number.label(style="font-size: 30px") }}<br>
                {{ form.number(class="form-control") }}<br>
                {% for error in form.number.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
        <div>{{ message }}</div>
            <p>
                {{ form.address.label(style="font-size: 30px") }}<br>
                {{ form.address(class="form-control", id="address-input") }}<br>
                {% for error in form.address.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            <div id="app" class="displayed" style="width: 600px; height: 400px"></div>
            <script src="https://api-maps.yandex.ru/v3/?apikey=a65982a6-8503-4ac0-89a5-ac260801a67d&lang=ru_RU"></script>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=40d1649f-0493-4b70-98ba-98533de7710b&lang=ru_RU"
                    type="text/javascript">
            </script>
            <script src="{{ url_for('static', filename="map.js") }}"></script>
            </p>
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <div class="btn-group displayed">
                    <p>{{ form.submit(type="submit", class="btn btn-primary btn-lg", style="display: block; margin-left: auto; margin-right: auto") }}</p>
                </div>
            </nav>
        </form>
    </div>
{% endblock %}}