{% extends "base.html" %}

{% block content %}
    {#    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis" style="text-align: center; font-size: 80px;">Доставка еды</div>#}
    <h1 class="text-center" style="font-size: 80px">FoodExpress</h1>
    <style>
        html {
            font-family: sans-serif;
        }

        * {
            box-sizing: border-box
        }

        header {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .prev, .next, .text {
                font-size: 11px
            }
        }

        .card {
            display: inline-block;
            margin: 16px;

            .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
        }
    </style>
    {#{% if current_user.is_authenticated %}#}
    {#    <a href="/jobs" class="btn btn-primary" style="font-size: 25px">Add job</a>#}
    {#{% endif %}#}
    {#{% for item in jobs%}#}
    {#    <h2 style="font-size: 35px;">Activity # {{item.id}}</h2>#}
    {#{% if current_user.is_authenticated and current_user == item.user %}#}
    {#    <div>#}
    {#        <a href="/jobs/{{ item.id }}" class="btn btn-warning" style="font-size: 25px">#}
    {#            Edit#}
    {#        </a>#}
    {#        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger" style="font-size: 25px">#}
    {#            Delete#}
    {#        </a>#}
    {#    </div>#}
    {#{% endif %}#}
    <!-- Slideshow container -->
    <div class="slideshow-container displayed">
        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="{{ url_for('static', filename='img/pic1.jpeg') }}"
                 alt="здесь должна была быть картинка, но не нашлась" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="{{ url_for('static', filename='img/pic2.jpeg') }}"
                 alt="здесь должна была быть картинка, но не нашлась" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="{{ url_for('static', filename='img/pic3.jpeg') }}"
                 alt="здесь должна была быть картинка, но не нашлась" style="width:100%">
            <div class="text"></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <h1 class="text-center" style="font-size: 80px" id="menu">Меню</h1>
    <h1 class="text-center" style="font-size: 55px" id="salads">Салаты</h1>
    {% for item in food %}
        {% if item.type == 'салат' %}
            {% set a = item.name + "0" %}
            {% set b = '#' + item.name + "0" %}
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename=item.image) }}"
                     alt="здесь должна была быть картинка, но не нашлась" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Состав</h6>
                    <p class="card-text">{{ item.about }}</p>
                    <a class="btn btn-primary" href="/food/{{ item.id }}">Выбрать</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h1 class="text-center" style="font-size: 55px" id="hot">Горячее</h1>
    {% for item in food %}
        {% if item.type == 'горячее' %}
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename=item.image) }}"
                     alt="здесь должна была быть картинка, но не нашлась" class="card-img-top">
                {#  <img src="/static/img/{{item.image}}" class="card-img-top" alt="Картинка">#}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Состав</h6>
                      <p class="card-text">{{ item.about }}</p>
                    <a class="btn btn-primary" href="/food/{{ item.id }}">Выбрать</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h1 class="text-center" style="font-size: 55px" id="soups">Супы</h1>
    {% for item in food %}
        {% if item.type == 'суп' %}
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename=item.image) }}"
                     alt="здесь должна была быть картинка, но не нашлась" class="card-img-top">
                {#  <img src="/static/img/{{item.image}}" class="card-img-top" alt="Картинка">#}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Состав</h6>
                     <p class="card-text">{{ item.about }}</p>
                    <a class="btn btn-primary" href="/food/{{ item.id }}">Выбрать</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h1 class="text-center" style="font-size: 55px" id="deserts">Десерты</h1>
    {% for item in food %}
        {% if item.type == 'десерт' %}
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename=item.image) }}"
                     alt="здесь должна была быть картинка, но не нашлась" class="card-img-top">
                {#  <img src="/static/img/{{item.image}}" class="card-img-top" alt="Картинка">#}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Состав</h6>
                    <p class="card-text">{{ item.about }}</p>
                    <a class="btn btn-primary" href="/food/{{ item.id }}">Выбрать</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <h1 class="text-center" style="font-size: 55px" id="drinks">Напитки</h1>
    {% for item in food %}
        {% if item.type == 'напиток' %}
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename=item.image) }}"
                     alt="здесь должна была быть картинка, но не нашлась" class="card-img-top">
                {#  <img src="/static/img/{{item.image}}" class="card-img-top" alt="Картинка">#}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Состав</h6>
                                <p class="card-text">{{ item.about }}</p>
                    <a class="btn btn-primary" href="/food/{{ item.id }}">Выбрать</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}