{% extends "base.html" %}

{% block content %}
    <style>
        .displayed {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .text-center {
            margin-right: auto;
            margin-left: auto;
        }

        .input-form {
            width: min(700px, calc(100% - 32px));
        }

        .login-title {
            font-size: 80px;
        }

        @media screen and (max-width: 768px) {
            .login-title {
                font-size: 60px;
            }
        }
    </style>
    <h1 class="text-center login-title">Авторизация</h1>
    <div class="container container d-flex flex-column align-items-center">
        <form action="" class="input-form" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label(style="font-size: 30px") }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(style="font-size: 30px") }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label(style="font-size: 30px") }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary btn-lg", style="display: block; margin-left: auto; margin-right: auto") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
{% endblock %}