{% extends "base.html" %}

{% block content %}
    <style type="text/css">
        .displayed {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    </style>

    <div class="container">
        <h1 class="text-center" style="font-size: 80px">Мои покупки</h1>
        {% if message == ' ' %}
            {% for item in purch %}
                <h1 class="text-center" style="font-size: 50px; color: grey">{{ item }}</h1>
                {% for good in purch[item] %}
                <div class="card border-primary mb-3 displayed text-center">
                    <div class="card-header" style="font-size: 25px; color: #0d6efd">
                        Покупка
                    </div>
                    <div class="card-body">
                        <p class="card-title" style="font-size: 25px; color: grey">Товары</p>
                        <h5 class="card-text" style="font-size: 35px">{{ good.purchase }}</h5>
                        <p class="card-title" style="font-size: 25px; color: grey">Адрес</p>
                        <h5 class="card-text" style="font-size: 35px">{{ good.address }}</h5>
                        <p class="card-title" style="font-size: 25px; color: grey">Покупатель</p>
                        <h5 class="card-text" style="font-size: 35px">{{ good.name }} ({{ good.number }})</h5>
                    </div>
                    <div class="card-footer text-muted">
                        {{ good.created_time }}
                    </div>
                </div>
                    {% endfor %}
            {% endfor %}
        {% else %}
            <br>
            <h5 class='text-center displayed' style="font-size: 60px">Вы ещё не совершали покупок</h5>
            <br>
            <img class='displayed' src="{{ url_for('static', filename='img/no_purchases.png') }}"
                 alt="здесь должна была быть картинка, но не нашлась" width="300" height="300">
        {% endif %}
    </div>
{% endblock %}}