{% extends "base.html" %}

{% block content %}
    <style>
        .displayed {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .text-center {
            margin-right: auto;
            margin-left: auto;
        }

        .input-form {
            width: min(700px, calc(100% - 32px));
        }

        .register-title {
            font-size: 80px;
        }

        @media screen and (max-width: 768px) {
            .register-title {
                font-size: 60px;
            }
        }
    </style>
    <h1 class="text-center register-title">Регистрация</h1>
    <div class="container container d-flex flex-column align-items-center">
        <form action="" class="input-form" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label(style="font-size: 30px") }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label(style="font-size: 30px") }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(style="font-size: 30px") }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password_again.label(style="font-size: 30px") }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary btn-lg", style="display: block; margin-left: auto; margin-right: auto") }}</p>
            {{ message }}
        </form>
    </div>
{% endblock %}